<section [id]="id" class="overflow-hidden rounded-lg border border-gray-300">
  <div
    class="flex items-center justify-between cursor-pointer p-3 bg-gray-200 hover:bg-gray-300"
    (click)="toggle()"
  >
    <h2 class="font-medium">
      {{ title }}
      @if(!isOpen && subtitle) {
      <span class="ml-3 text-xs font-medium text-zinc-500">{{ subtitle }}</span>
      }
    </h2>
    <button type="button" class="leading-none p-0 border-0 bg-none text-xl cursor-pointer w-6 h-6">
      {{ isOpen ? '—' : '+' }}
    </button>
  </div>
  <div
    class="transition-[max-height] duration-500 ease-in-out max-h-0 overflow-hidden"
    [class.max-h-[2000px]]="isOpen"
  >
    <div class="p-5 bg-zinc-50">
      <ng-content></ng-content>
    </div>
  </div>
</section>
